/*
    laranja: #FF5C27
    bege: #F5F3E7
    azul: #3F9BFF
    verde: #2A9507
    amarelo: #FFDA1F
    verde escuro: #383806
    vermelho: #FD4000
    branco: #FFFFFFF
*/
body {
    font-family: manropeRegular;
    font-size: 1.4em;
}

footer {
    font-family: manropeRegular;
    font-size: 0.8em;
}

footer h3 {
    font-family: manropeRegular;
}

.uk-logo img {
    max-width: 150px; /* Maximum width */
    min-width: 100px; /* Minimum width */
    height: auto; /* Auto-adjusts the height to maintain aspect ratio */
}

.uk-navbar-container {
    background-color: #FFDA1F;
}

.uk-navbar-item {
    font-family: bonoc;
}

.uk-footer {
    background-color: #3F9BFF;
    color: #FFFFFF;
}

.uk-footer h3 {
    color: #FFFFFF;
}

.uk-footer a {
    color: #FFFFFF;
}

.uk-navbar-container {
    padding-left: 15px;
    padding-right: 15px;
}

.hero {
    align-items: center;
    justify-content: center;
}

.hero img{
    margin-top: 15px;
    height: 30vh;
}

.hero p{
    text-align: center;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.hr {
    padding-top: 15px;
    padding-bottom: 15px;
}

.evento-row {
    display: flex;
}

.evento-row div {
    text-align: center;
}

.evento-row div h1 {
    font-family: bonoc;
}

.patrocinio {
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.patrocinio h3 {
    font-family: bonoc;
}

.uk-text-bold {
    color: black;
}

.uk-button {
    border: none;
    font-size: 1rem;
    font-family: manropeRegular;
}

.uk-button:hover {
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
}

.uk-button-primary {
    background-color: #3F9BFF;
    color: white;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
}

.uk-button-default {
    background-color: #F5F3E7;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
}

@media screen and (max-width: 1366px) {
    body {
        font-size: 1.2em;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .patrocinio {
        padding-right: 5%;
        padding-left: 5%;
    }

    .hero p{
        margin-top: 0 !important;
    }

    .evento-row img {
        order: 2;
    }

    .uk-button {
        font-size: 0.75rem;
        font-family: manropeRegular;
    }
}
