:root { 
    --laranja: #FF5C27;
    --bege: #F5F3E7;
    --azul: #3F9BFF;
    --verde: #00923F;
    --amarelo: #FFDA1F;
    --verde_escuro: #383806;
    --vermelho: #FD4000;
    --branco_default: #FFF;
    --preto_default: #000;
    --fuchsia:  #D70086;
    --roxo__escuro: #5E17EB;
    --cinza_escuro: #777777;
}

.uk-badge-large {
    padding: 1rem;
    font-size: medium;

}
@font-face {
    font-family: bonoc;
    src: url(../fonts/Bonoc.ttf);
}

@font-face {
    font-family: manropeRegular;
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
}

body {
    font-family: manropeRegular;
    font-size: 1.4em;
}

body h2, body h3 {
    font-family: bonoc !important;
}

footer {
    padding-top: 2em;
    font-family: manropeRegular;
    font-size: 0.8em;
}

footer h3 {
    font-family: manropeRegular;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.width-max-content {
    width: max-content;
}

.uk-navbar-container {
    background-color: var(--amarelo);
}

.uk-navbar-item {
    font-family: bonoc !important;
}

.uk-footer {
    background-color: var(--azul);
    color: var(--branco_default);
}

.uk-footer h3 {
    color: var(--branco_default);
}

.uk-footer a {
    color: var(--branco_default);
}

.uk-navbar-container {
    padding-left: 15px;
    padding-right: 15px;
}

.uk-width-auto img {
    max-width: 100px;
    max-height: 100px;
}

.hero {
    margin-top: 2em;
    align-items: center;
    justify-content: center;
}

.hero img{
    height: 30vh;
}

.hero p{
    text-align: center;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.hr {
    padding-top: 15px;
    padding-bottom: 15px;
}

.patrocinador-cobre {
    max-width: 75px;
    max-height: 75px;
}

.patrocinador-bronze {
    max-width: 100px;
    max-height: 100px;
}

.patrocinador-prata {
    max-width: 200px;
    max-height: 200px;
}

.patrocinador-ouro {
    max-width: 250px;
    max-height: 250px;
}

.patrocinador-diamante {
    max-width: 400px;
    max-height: 400px;
}

.evento-row div {
    padding-left: 2em;
}

.evento-row div h1 {
    font-family: bonoc;
}

.uk-text-bold {
    color: var(--preto_default);
}

.uk-button {
    border: none;
    font-size: 1rem;
    font-family: manropeRegular;
}

.uk-button:hover {
    border-left: 0.25rem solid var(--preto_default);
    border-bottom: 0.25rem solid var(--preto_default);
}

.uk-button-primary {
    background-color: var(--azul);
    color: var(--branco_default);
    border-left: 0.25rem solid var(--preto_default);
    border-bottom: 0.25rem solid var(--preto_default);
}

.uk-button-danger {
    background-color: var(--laranja);
    color: var(--branco_default);
    border-left: 0.25rem solid var(--preto_default);
    border-bottom: 0.25rem solid var(--preto_default);
}

.uk-button-danger:hover {
    background-color:  var(--laranja);
    color: var(--branco_default);
}

.uk-button-default {
    background-color: var(--bege);
    border-left: 0.25rem solid var(--preto_default);
    border-bottom: 0.25rem solid var(--preto_default);
}

#patrocinadoras {
    padding-top: 3em;
    padding-bottom: 3em;
}

#patrocinadoras div:not(:last-child) {
    margin-bottom: 2em;
}

#patrocinadoras h4:not(:last-child) {
    margin-bottom: 1em;
}

#patrocinio {
    background-color: var(--amarelo);
    padding-top: 3em;
    padding-bottom: 3em;
}

#sobre {
    background-color: var(--bege);
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 1em;
}

@media screen and (max-width: 1366px) {
    body {
        font-size: 1.2em;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero p{
        margin-top: 0 !important;
    }

    .evento-row {
        flex-direction: column;
    }

    .evento-row div {
        padding-left: 0;
    }

    .evento-row img {
        display: none;
    }

    .uk-button {
        font-size: 0.75rem;
        font-family: manropeRegular;
    }
}


/*
 * Card Third
 */
.uk-card-green {
    background-color: var(--verde);
    color: var(--branco_default);
}

.uk-card-fuchsia {
    background-color: var(--fuchsia);
    color: var(--branco_default);
}

.uk-card-orange {
    background-color: var(--laranja);
    color: var(--branco_default);
}

.uk-card-purple {
    background-color: var(--roxo__escuro);
    color: var(--branco_default);
}

.uk-card-purple h3 {
    background-color: var(--roxo__escuro);
    color: var(--branco_default);
}

.uk-card-gray {
    background-color: var(--cinza_escuro);
    color: var(--branco_default);
}
.uk-card-gray h3 {
    background-color: var(--cinza_escuro);
    color: var(--branco_default);
}
.uk-badge-beige {
    background-color: var(--bege);
    color: var(--preto_default) !important;
}

.card-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uk-text-small {
    min-height: 220px;
}

.custom-class {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}